
    <!-- <h2>CATEGORIES</h2> -->
    <div class="company-logo-section section-top-gap-100 section-fluid">
        <div class="company-logo-wrapper" data-aos="fade-up" data-aos-delay="0">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="company-logo-slider default-slider-nav-arrow">
                            <!-- Slider main container -->
                            <div class="swiper-container company-logo-slider">
                                <!-- Additional required wrapper -->
                                <div class="swiper-wrapper">
                                    <!-- Start Company Logo Single Item -->
                                    <div class="company-logo-single-item swiper-slide">
                                        <a href="/category">
                                            <div class="image"><img class="img-fluid" src="/publicAssets/images/icons/myIcons/CameraWhite.png" alt=""></div>
                                            <span>Cameras</span>
                                        </a>
                                    </div>
                                    <!-- End Company Logo Single Item -->
                                    <!-- Start Company Logo Single Item -->
                                    <div class="company-logo-single-item swiper-slide">
                                        <a href="/category">
                                            <div class="image"><img class="img-fluid" src="/publicAssets/images/icons/myIcons/categoryWhite.png" alt=""></div>
                                            <span>Category</span>
                                        </a>
                                    </div>
                                    <!-- End Company Logo Single Item -->
                                    <!-- Start Company Logo Single Item -->
                                    <div class="company-logo-single-item swiper-slide">
                                        <a href="/category">
                                            <div class="image"><img class="img-fluid" src="/publicAssets/images/icons/myIcons/clothesWhite.png" alt=""></div>
                                            <span>Clothes</span>
                                        </a>
                                    </div>
                                    <!-- End Company Logo Single Item -->
                                    <!-- Start Company Logo Single Item -->
                                    <div class="company-logo-single-item swiper-slide">
                                        <a href="/category">
                                            <div class="image"><img class="img-fluid" src="/publicAssets/images/icons/myIcons/Electronics1.png" alt=""></div>
                                            <span>Electronics</span>
                                        </a>
                                    </div>
                                    <!-- End Company Logo Single Item -->
                                    <!-- Start Company Logo Single Item -->
                                    <div class="company-logo-single-item swiper-slide">
                                        <a href="/category">
                                            <div class="image"><img class="img-fluid" src="/publicAssets/images/icons/myIcons/Food2White.png" alt=""></div>
                                            <span>Food & Beverages</span>
                                        </a>
                                    </div>
                                    <!-- End Company Logo Single Item -->
                                    <!-- Start Company Logo Single Item -->
                                    <div class="company-logo-single-item swiper-slide">
                                        <a href="/category">
                                            <div class="image"><img class="img-fluid" src="/publicAssets/images/icons/myIcons/furnitureWhite.png" alt=""></div>
                                            <span>Furniture</span>
                                        </a>
                                    </div>
                                    <!-- End Company Logo Single Item -->
                                    <!-- End Company Logo Single Item -->
                                    <div class="company-logo-single-item swiper-slide">
                                        <a href="/category">
                                            <div class="image"><img class="img-fluid" src="/publicAssets/images/icons/myIcons/toolWhite.png" alt=""></div>
                                            <span>Hardware & Tools</span>
                                        </a>
                                    </div>
                                    <!-- End Company Logo Single Item -->
                                    <!-- Start Company Logo Single Item -->
                                    <div class="company-logo-single-item swiper-slide">
                                        <a href="/category">
                                            <div class="image"><img class="img-fluid" src="/publicAssets/images/icons/myIcons/softwareWhite.png" alt=""></div>
                                            <span>Computers</span>
                                        </a>
                                    </div>
                                    <!-- End Company Logo Single Item -->
                                    <!-- Start Company Logo Single Item -->
                                    <div class="company-logo-single-item swiper-slide">
                                        <a href="/category">
                                            <div class="image"><img class="img-fluid" src="/publicAssets/images/icons/myIcons/toysWhite.png" alt=""></div>
                                            <span>Toys & Sports</span>
                                        </a>
                                    </div>
                                    <!-- End Company Logo Single Item -->
                                </div>
                            </div>
                            <!-- If we need navigation buttons -->
                            <!-- <div class="swiper-button-prev d-none d-md-block"></div>    removed side left-right arrow as not required -->
                            <!-- <div class="swiper-button-next d-none d-md-block"></div>    removed side left-right arrow as not required -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Company Logo Section -->