        <!-- Start Product Default Single Item -->
        <div class="product-default-single-item product-color--pink swiper-slide">
            <div class="image-box">
                <a href="/productdetails" class="image-link">
                    <img src="/publicAssets/images/product/default/home-3/default-12.jpg" alt="">
                    <img src="/publicAssets/images/product/default/home-3/default-12.jpg" alt="">

                    <a href="#" data-bs-toggle="modal"
                        data-bs-target="#modalQuickview">
                        <i class="fa fa-info-circle productDetailView" aria-hidden="true"></i>
                    </a>
                    <i class="fa fa-heart addtowishlist" aria-hidden="true"></i>
                </a>
                <!-- <div class="tag">
                    <span>sale</span>
                </div> -->

                <div class="action-link">
                    <div class="action-link-left">
                        <!-- <a href="#" data-bs-toggle="modal"
                            data-bs-target="#modalAddcart">Add to Cart</a> -->
                        <a href="#" data-bs-toggle="modal"
                        data-bs-target="#modalAddcart"><i class="ion-android-cart">+</i></a>

                    </div>
                    <div class="action-link-right">
                        <a href="#" data-bs-toggle="modal"
                            data-bs-target="#modalQuickview"><i
                                class="icon-magnifier-add"></i></a>
                                                                                            
                        <a href="wishlist.html"><i class="icon-heart"></i></a>
                        <a href="compare.html"><i class="icon-share"></i></a>
                    </div>
                </div>
                <div class="content">
                    <div class="content-left">
                        <h3 class="title"><a href="/productdetails">Aliquam Aliquam</a></h3>
                    </div>
                    <span class="price">$75.000</span>
                    <div class="content-right">
                        <span class="price">Jamshedpur</span>
                        <span class="price">28/12/2017</span>
                    </div>
                </div>
            </div>

        </div>
        <!-- End Product Default Single Item -->