<div class="categoryList" >
    <marquee behavior="alternate"  direction="left" hspace="20px" onmouseover="this.stop();" onmouseout="this.start()" >
        <a class="categoryItem" href="">Furniture</a>
        <a class="categoryItem" href="">Electronics</a>
        <a class="categoryItem" href="">Fashion</a>
        <a class="categoryItem" href="">Services</a>
        <a class="categoryItem" href="">Vehicles</a>
        <a class="categoryItem" href="">Sports</a>
        <a class="categoryItem" href="">Jobs</a>
        <a class="categoryItem" href="">JavaScript</a>
        <a class="categoryItem" href="">MongoDB</a>
    </marquee>
</div>