
<div class="main">           <!-- 1st main div starts here     -->
    <header>
        <div class="head">
            <h2>Lojalo</h2>
            <div class="head_1">
                <div class="location_search">
                    <span>
                    <i class="fa-solid fa-location-dot"></i>
                    </span>
                    <input type="text" placeholder="Enter your location" >
 
                </div>

                <div class="keyword_search">
                    <input type="text" placeholder="Enter keyword to search item">
                    <span>
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </span>
                </div>

                <div class="addedToCartIcon" >
                    <i class="fa-solid fa-cart-shopping">0</i>
                </div>

                <div class="addPostTag">
                    <button>
                        <i class="fa-solid fa-circle-plus"></i>
                        Post Adds
                    </button>
                </div>

                <div class="loginTag">
                    <button>
                        <i class="fa-solid fa-right-to-bracket"></i>
                        Login
                    </button>
                </div>

                
            </div>
        </div>

    </header>
